[data]
  os = {{ .chezmoi.os }}
  hostname = {{ .chezmoi.hostname }}
  vm = {{ empty (expandenv "$VM") | ternary "false" (expandenv "$VM") }}
{{ if eq .chezmoi.os "linux" }}
  distro = {{ .chezmoi.osRelease.id }}
{{ else if eq .chezmoi.os "darwin" }}
  distro = ""
{{ end }}
  # gui = {{ empty (expandenv "$GUI") | ternary "false" (expandenv "$GUI") }}
