#! /usr/bin/env zsh
# Z S H R C 

. ~/.config/zsh/env.zsh
. ~/.config/zsh/opts.zsh
. ~/.config/zsh/paths.zsh 
. ~/.config/zsh/completions.zsh

# Plugins
. ~/.config/zsh/plug_init.zsh

for file in $HOME/.config/zsh/plugins/*; do 
    . "$file"
done

. ~/.config/zsh/widgets.zsh # Source Before keys.conf
. ~/.config/zsh/keys.zsh # Source After Plugin Confs
. ~/.config/zsh/functions.zsh
. ~/.config/zsh/aliases.zsh # Source after Functions 
