{{ if eq .chezmoi.os "linux" }}
{{ if eq .chezmoi.osRelease.id "ubuntu" }}
# Needed to make history-beginning-search-forward/backward work on Ubuntu
DEBIAN_PREVENT_KEYBOARD_CHANGES=yes
{{ end }}
{{ end }}
