#!/usr/bin/env bash

# Platform Agnostic
## Install FZF if not
# if ! command -v fzf &>/dev/null; then
#     echo Installing fzf...
#     git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf
#     "$HOME"/.fzf/install  --no-bash --no-fish --no-update-rc --no-completion --no-key-bindings &>/dev/null
#     # mv "$HOME"/.fzf/bin/* "$HOME"/.config/bin
#     # \rm -rf "$HOME"/.fzf
# fi

# Install Starship if not
# if ! command -v starship &>/dev/null; then
#     echo Installing starship...
#     curl -sS https://starship.rs/install.sh | sh -s -- --yes --bin-dir=$HOME/.config/bin &>/dev/null
# fi 

# Install Navi
# if ! command -v navi &>/dev/null; then
#     echo Installing Navi...
#     PATH="/usr/bin:/bin" BIN_DIR="$HOME"/.config/bin /bin/bash <(curl -sL https://raw.githubusercontent.com/denisidoro/navi/master/scripts/install) &>/dev/null
# fi

# Install LunarVim
# if ! command -v lvim &>/dev/null; then
#     yes | bash <(curl -s https://raw.githubusercontent.com/lunarvim/lunarvim/master/utils/installer/install.sh)
# fi

{{ if eq .chezmoi.os "darwin" }}
# Create Sudoedit
ln -s $(which sudo) ~/.config/bin/sudoedit

# Create sudoedit
if ! command -v sudoedit &>/dev/null; then 
    ln -s "$(which sudo)" "$HOME/.config/bin/sudoedit"
fi

# Install Homebrew if needed
# if ! command -v brew; then
#     CI=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
# fi
{{ end }}

{{ if eq .chezmoi.os "linux" }}
{{ if eq .chezmoi.osRelease.id "fedora" }}
# sudo dnf install -y $(cat $HOME/.config/dnf/base_pkgs)
{{ end }}
{{ if eq .chezmoi.osRelease.id "ubuntu" }}
{{ end }}
{{ end }}

{{ if eq (expandenv "$PRIVATE") "true" }}
if [[ ! -d ~/.local/share/chezmoi/private ]]; then 
    git clone https://github.com/typkrft/private-dots ~/.local/share/chezmoi/private
fi
{{ end }}
