#!/usr/bin/env bash

# Platform Agnostic 
## Install FZF if not
if ! command -v fzf &>/dev/null; then
    echo Installing fzf...
    git clone --quiet --depth 1 https://github.com/junegunn/fzf.git "$HOME/.fzf" 
    "$HOME"/.fzf/install  --no-bash --no-fish --no-zsh --no-update-rc --no-completion --no-key-bindings &>/dev/null
    mv "$HOME"/.fzf/bin/* "$HOME"/.config/bin
    \rm -rf "$HOME"/.fzf
fi

# Install Starship if not
if ! command -v starship &>/dev/null; then
    echo Installing starship...
    curl -sS https://starship.rs/install.sh | sh -s -- --yes --bin-dir=$HOME/.config/bin &>/dev/null
fi 

# Install Navi
if ! command -v navi &>/dev/null; then
    echo Installing Navi...
    PATH="/usr/bin:/bin" BIN_DIR="$HOME"/.config/bin /bin/bash <(curl -sL https://raw.githubusercontent.com/denisidoro/navi/master/scripts/install) &>/dev/null
fi

{{ if eq .chezmoi.os "darwin" }}
# Create Sudoedit
ln -s $(which sudo) ~/.config/bin/sudoedit

# Install Homebrew if needed
if ! command -v brew; then
    CI=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
{{ end }}

{{ if eq .chezmoi.os "linux" }}
{{ if eq .chezmoi.osRelease.id "fedora" }}
sudo dnf install -y $(cat $HOME/.config/dnf/base_pkgs)
{{ end }}
{{ if eq .chezmoi.osRelease.id "ubuntu" }}
{{ end }}
{{ end }}