#!/usr/bin/env bash

# Clear old Values
/usr/bin/ex +g/^ip/d -cwq ~/.config/chezmoi/chezmoi.toml
/usr/bin/ex +g/^gui/d -cwq ~/.config/chezmoi/chezmoi.toml

# Set IP
ip_addr=""
{{ if eq .chezmoi.os "darwin" }}
if type ifconfig  &>/dev/null; then 
    ip_addr=$(ifconfig | grep "inet " | grep -Fv 127.0.0.1 | awk '{print $2}' | tail -n1)
fi
{{ end }}
{{ if eq .chezmoi.os "linux" }}
if type hostname &>/dev/null; then 
    ip_addr=$(hostname -I | awk '{print $1}')
fi
{{ end }}
/usr/bin/sed -i.chez_bak "2i\\
ip = \"$ip_addr\"
" ~/.config/chezmoi/chezmoi.toml

# Set GUI
{{ if eq .chezmoi.os "linux" }}
wayland=$(ls /usr/share/wayland-sessions)
xorg=$(ls /usr/share/xsessions)
{{ end }}

if [[ ( $wayland != "" )  || ( $xorg != "" ) || ( $(uname -s) = "Darwin" ) ]]; then
    /usr/bin/sed -i.chez_bak "2i\\
gui = \"true\"
    " ~/.config/chezmoi/chezmoi.toml
else
    /usr/bin/sed -i.chez_bak "2i\\
gui = \"false\"
    " ~/.config/chezmoi/chezmoi.toml
fi

# Remove Backup Files
/usr/bin/find ~/.config/chezmoi -maxdepth 1 -name '*.chez_bak' -delete
