#!/usr/bin/env bash

linker () {
    FILE=$1
    DESTINATION=$2
    BROKEN=$([[ -e $DESTINATION ]] && echo 0 || echo 1 2>&-)
    # LINK=$([[ -L $DESTINATION ]] && echo 1 || echo 0 2>&-)

    if [[ $BROKEN -eq 1 ]]; then 
        rm $DESTINATION 2>&-
        ln -s $FILE $DESTINATION
    fi
}

CHEZ_DIR=$HOME/.local/share/chezmoi

{{ if eq (expandenv "$PRIVATE") "true" }}
    # Navi
    linker $CHEZ_DIR/private/gh_private_dots/navi/private.cheat $HOME/.config/navi/priavte.cheat
{{ end }}
