# C O L O R  S C H E M E 
include                   themes/deacula.conf

# K E Y M A P S
include                   keymaps.conf

# S H E L L  I N T E G R A T I O N
shell_integration         enabled

# F O N T
font_family Iosevka Nerd Font
symbol_map                U+23FB-U+23FE,U+2665,U+26A1,U+2B58,U+E000-U+E00A,U+E0A0-U+E0A3,U+E0B0-U+E0C8,U+E0CA,U+E0CC-U+E0D2,U+E0D4,U+E200-U+E2A9,U+E300-U+E3E3,U+E5FA-U+E62F,U+E700-U+E7C5,U+F000-U+F2E0,U+F300-U+F31C,U+F400-U+F4A9,U+F500-U+F8FF Symbols Nerd Font
bold_font                 auto
italic_font               auto
bold_italic_font          auto
font_size                 18.0

# W I N D O W           T R B L 
window_padding_width      0 4 0 4
hide_window_decorations   titlebar-only
# background_opacity      0.98

# U I 
adjust_line_height        140%

# T A B S
tab_bar_edge              top
tab_bar_style             fade
tab_switch_strategy       left
tab_bar_background        none

{{ if eq .chezmoi.os "darwin" }}
# m a c O S
macos_option_as_alt       both
macos_custom_beam_cursor  yes
macos_thicken_font        0  
macos_colorspace          displayp3
{{ end }}

# M O U S E
mouse_hide_wait           3.0
focus_follows_mouse       yes

# S E S S I O N
allow_remote_control      yes
enable_audio_bell         no
copy_on_select            no
bell_on_tab               yes

# S P L I T S
enabled_layouts           fat:bias=50;full_size=1;mirrored=true, vertical, horizontal, grid, stack, splits:split_axis=horizontal, fat:bias=50;full_size=1;mirrored=false, tall:bias=50;full_size=1;mirrored=false
draw_minimal_borders      no
inactive_border_color     #44475a
active_border_color       #50fa7b
window_border_width       2.5pt

# M I S C
cursor_shape beam
# TODO: Maybe this can be set to xterm-kitty and changed when needed for ssh etc
# term                      xterm-256color

