#!/usr/bin/env zsh

# P A T H S
# Brew
{{ if eq .chezmoi.os "darwin" }}
[[ -d "/opt/homebrew/bin" ]] && path=("/opt/homebrew/bin" $path)
[[ -d "/opt/homebrew/sbin" ]] && path=("/opt/homebrew/sbin" $path)
{{ end }}

# Bins
if [[ -d "$HOME/.config/bin" ]]; then 
    path=("$HOME/.config/bin" $path)
fi 
if [[ -d "$HOME/.local/bin" ]]; then 
    path=("$HOME/.local/bin" $path)
fi 
if [[ -d "$HOME/.cargo/bin" ]]; then
    path=("$HOME/.cargo/bin" $path)
fi
export path

# asdf
if [[ -f "$HOME/.asdf/asdf.sh" ]]; then
    # Must be sourced after exporting path
    . "$HOME/.asdf/asdf.sh"
fi 

